@font-face {
    font-family: 'Hobbit';
    src: url("hobbitonbrushhand.ttf");
}

$primary-color:#e5dcc1;
$primary-font-color:#666353;

div.title-container {
    padding: 40px 20px 20px 50px;

    h1 {
        display: inline-block;
        font-family: 'Hobbit', serif;
        font-size: 6.5em;
        color: $primary-font-color;
        text-shadow: 5px 5px 1px $primary-color;

    }
}

body {
    background: url("background.png") no-repeat;
    background-size: 100%;
}


ul.list-of-fellows {
    list-style-type: none;
    text-align: left;
    padding-left: 0;

}

li {
    padding: 10px 0px;
    color: $primary-font-color;

    div.inner {
        padding: 30px;
        background-color: $primary-color;
        transition: all 300ms ease-in;

        h1 {
            font-size: 1.6em;
            margin-bottom: 10px;
            font-family: 'Cinzel', 'serif';
        }

        h2 {
            font-size: 1.0em;
            font-family: 'Bitter', 'serif';
        }

        &:hover {
            transform: scale(1.02);
            background-color: #fff6db;
        }

        &.active {
            background-color: #F4A297 !important;
            transform: scale(1.02);
        }
    }

    div.fellow-points {
        h2 {
            font-size: 2.5em;
            font-family: 'Cinzel';
            text-align: center;
        }
    }

    p {
        font-size: 1.2em;
        font-family: 'Cinzel', 'serif';
        margin: 0;
        text-align: center;
    }
}

div.points-left {
    height: 150px;
    background-color: $primary-color;
    padding: 20px;
    color: $primary-font-color;

    h2 {
        font-size: 3em;

    }

    h3 {
        font-size: 1.6em;
    }

    h2,
    h3 {
        font-family: 'Cinzel', 'serif';
        text-align: center;
    }


    p {
        font-family: 'Cinzel', 'serif';
        font-size: 1.0em;
        text-align: center;
    }
}

.box-shadow {
    -webkit-box-shadow: 3px 3px 20px 2px rgba(102, 99, 93, 0.22);
    -moz-box-shadow: 3px 3px 20px 2px rgba(102, 99, 93, 0.22);
    box-shadow: 3px 3px 20px 2px rgba(102, 99, 93, 0.22);
    transition: all 200ms ease-in;
}